body {
    margin: 0;
}

#header {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: #00CDBB;
}

.title {
    font-size: 36px;
    padding: 1em;
    color: #fff;
    font-weight: bolder;
}

.container {
    width: 75%;
    margin: 0 auto;
}

#round, #winner {
    margin: 0 auto 2em auto;
    text-align: center;
    font-size: 30px;
    padding: 1em;
    font-weight: bolder;
}

#choices, #winner {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#choices {
    margin: 0 auto;
    width: 75%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.button:nth-child(1) {
    background-color: #00CDBB;
}
.button:nth-child(2) {
    background-color: #BEAF0F;
}
.button:nth-child(3) {
    background-color: #F69CFF;
}

.button {
    padding: 1em 2em;
    margin-bottom: 1em;
    color: #fff;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 10px;
}

.button:hover {
    transition-duration: .09s;
    transform: scale(1.1);
}